/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/reset";

@import "compass";

/*************/
/* Variables */
/*************/

$txt: #333;
$txt-blc: #EFEFEF;
$txt-gris: #747474;
$txt-gris-fonce: darken($txt-gris, 20);
$txt-noir: #333;
$bg-noir: #252525;
$bg-noir-fonce: #000;
$bg-gris: #4E4E4E;
$bg-gris-clair: #CCC;
$color-gris-clair: #CCC;
$color-green: #5BC096;
$color-red: #CC4034;
$color-blue: #1AADDB;
$color-violet: #8E52A1;

$sans-serif: avant-garde, arial, sans-serif;




/*************/
/* Fonctions */
/*************/

@mixin absolute(){ position: absolute; top: 0; left: 0; }

@mixin filter($grey, $hue){ -webkit-filter: contrast(100%) brightness(100%) grayscale($grey) saturate(100%) hue-rotate($hue) sepia(0%)  invert(0%) blur(0px); }

@mixin transition($time){ -webkit-transition:all $time ease; -moz-transition:all $time ease; -o-transition:all $time ease; transition:all $time ease; }

@mixin txtShadow(){  }



/************/
/** Global **/
/************/


body{ margin: auto; }

a{text-decoration: none; color: $txt-blc; line-height: 1.5em;}

p{ line-height: 1.5em; color: $txt;}

h1{font-size: 1.5em; margin: 10px 0; }

h2{ font-size: 1.8em; text-align: center;margin: 30px 0; }

h1, h2, h3, h4{ text-transform: uppercase; clear: both; line-height: 1em;  }

date{ display: block; }


#page_wrap{ font-family: $sans-serif; font-size: 16px; line-height: 1.5em; color: $txt; }

#container{ margin: 30px auto;  }

.onglet{ display: none; padding: 60px 4.7%; margin: auto; @include transition(0.9s); }

.on{ display: block; }


.header-page{
	height: auto; position: relative; background: #66A29C; 
	date{ display: inline-block; }
	h1{ font-size: 2em; margin-bottom: 30px;}
}

header{
	width: 100%; top: 0; z-index: 9999; overflow: hidden; color: $txt-blc;
	h1, .chapo{max-width: 50%; margin: auto; text-align: center; text-shadow: 1px 1px 4px #777;}
	h1{ margin-bottom: 50px; font-size: 1.5em; line-height: 1em;  }
	.chapo{ color: $txt-blc;   }
	date{margin-left: 15.7%; background: #333; background: rgba(0,0,0,0.5); padding: 8px 14px; }
	.main-illu{position: absolute; top: 0; left: 0; z-index: -1; max-width: 100%;  }
}

#logo{margin: 22px 22px 0 40px; }


.sous-nav{
		background: #EFEFEF; 
		ul{ font-size: 0.8em; }
		li{
			display: inline-block;
			a{
				color: $txt-gris; text-transform: uppercase; padding: 8px 14px; display: block;
				&:hover{color: $txt-gris-fonce; }
			}
			.on{border-bottom: $txt-gris-fonce solid 2px; color: $txt-gris-fonce; }

			.actif{border-bottom: $txt-gris-fonce solid 2px; color: $txt-gris-fonce; }
		}
	}


.sous-nav-header{
	width: 100%; position: absolute; bottom: 0; 
	ul{ width: 200px; display: block; margin: auto; } 
}


.btn-social{ 
	width: 100%; padding: 0 30px;
	a {display: inline-block; text-align: center; line-height: 1.2em; padding: 0; width: 100%; margin-right: 4%; font-size: 0.8em; width: 48px; height: 70px; padding-top: 45px;  color: $txt-gris-fonce; vertical-align: bottom; @include transition(0.3s); }
	.facebook-a{background: url('../img/interface/facebook.png') no-repeat top center}
	.facebook-b{background: url('../img/interface/facebook.png') no-repeat top center;}
	.flickr{background: url('../img/interface/flickr.png') no-repeat top center; }
	.youtube{background: url('../img/interface/youtube.png') no-repeat top center;}
	a:hover{@include filter(100%, 0);}
}


#menu-principal .current-menu-item a{background: #252525; background: rgba(0,0,0,0.75); }

.menu-principal-container, #logo{float: left; }

#menu-principal li a:hover{ background: rgba(0,0,0,0.75); }


/***************/
/** Activités **/
/***************/


.sous-nav-activites{
	padding-left: 4.25%; float: right;  
}

header .titre-activite{ 
	h1{max-width: none; margin-bottom: 0;  }
	.public{ background: rgba(0,0,0,0.3); color: $txt-blc; display: inline-block; }
}

.onglet-activite{
	float: left; padding: 30px 4.25%;
	h2{text-align: left;}
}


#list-activites{
	float: left;
	.activite{
		img{min-width: 100%; }
	}
}

#cplt{
	float: right; background: darken(#EFEFEF, 5); padding: 20px; 
	.img{
		width: 100px; height: 100px; margin: 20px auto; border-radius: 100px; overflow: hidden; background: $color-green;
		img{max-width: 100%; }
	}
	p{ color: $txt-gris; }

	h3{text-align: center; margin: 30px 0 20px; }
	.nbr{
		padding: 20px 0; 
		p{ color: $txt; }
		span{ display: inline-block; margin: 10px 0; padding: 0 3px; clear: both; border-bottom: 2px $color-green solid; border-top: 2px $color-green solid; }
	}
}



/*************/
/**  About  **/
/*************/

.sous-nav-about{
	position: absolute; bottom: 0; width: 100%; 
	ul{ width: 290px; display: block; margin: auto; } 
}

#equip{
	.permanente{
		li{
			float: left; margin: 20px; width: 120px; text-align: center; line-height: auto; 
			.nom{text-transform: uppercase; font-size: 0.8em;  }
			.fonction{color: $txt-gris-fonce; font-size: 0.8em; }
		}
	}
	.img{
		position: relative; overflow: hidden; border-radius: 100px; border: #CCC 1px solid; width: 90px; height: 90px; margin: 20px auto; 
		img{position: absolute; max-width: 100%; left: 0;}
	}
	.admin, .droit{
		clear: both; display: inline-block; width: 48%; 
		h3{margin: 20px 0; text-transform: none; }
		li{list-style-type: disc; list-style-position: inside; font-size: 0.8em; }
	}
}




/***************/
/** Evénement **/
/***************/

.sous-nav-event{
	width: 100%; position: absolute; bottom: 0; padding-left: 15.7%
}

.onglet-event{
	width: 100%; float: left; padding: 30px 0 0 0;
	h2{text-align: left;}

}

header .titre-evenement{ 
	position: absolute; bottom: 80px; width: 100%; margin-top: 100px;
	h1{font-size: 3em; text-align: left; max-width: none; margin-bottom: 0; color: $txt-blc;  }
	date{ float: left; margin-left: 0; background: rgba(0,0,0,0.3); color: $txt-blc; padding: 5px 10px 2px; display: inline-block; }
}

#sidebar-event{
	width: 23.5%; margin: 0; float: right;
	.widgettitle{ display: none;}
	.about{ font-size: 0.9em; }
	.social{ 
		background: 0; 

	}

	.actus{
		ul{ clear: both; }
		hr{ background: $bg-gris; }
		li a{ 
			font-size: 0.9em; color: $txt-gris;
			&:hover{ color: $txt;}
		}
		&>a{ 
			margin-top: 15px; display: block; 
			&:hover{ color: $color-green; }
		}
	}
	.bloc{ width: 100%; }
}

#tribe-events{ }

#tribe-events-content{
	margin-top: 30px;  
	#tribe-events-header .tribe-events-sub-nav li{ display: block; margin: 20px 0; }
	.tribe-events-nav-previous{ float: left;}
	.tribe-events-nav-next{ float: right;}
}

#tribe-events .tribe-events-single{ 
	width: 76.5%; padding: 50px 15.7% 0; float: left;
	h2{ text-transform: none;}
}

#tribe-events .tribe-events-list, #tribe-events .tribe-events-month{  margin: 50px auto; }

#tribe-events-bar{
	position: relative; margin: 30px auto; text-transform: uppercase; 
	div{ float: left; }
	input[type="text"]{background: none; padding: 4px 14px; border-bottom: 1px dashed darken(#EFEFEF, 20); padding-left: 0; } 
	.tribe-bar-submit{ 
		float: right; 
		input[type="submit"]{ background: #66A29C; text-transform: uppercase; padding: 0 30px; color: $txt-blc; font-size: 1em; font-family: $sans-serif;  }
	}

}

.tribe-bar-filters{ background: #EFEFEF; width: 70%; }

.tribe-bar-filters-inner{width: 100%;}

.tribe-bar-search-filter, .tribe-bar-date-filter{  width: 34%; margin-right: 20px; padding: 10px 16px; }

#tribe-bar-date, #tribe-bar-search{ width: 100%;   }

.tribe-events-widget-link a{  font-size: 1em; color: $txt-gris;  text-align: right; display: block; width: 100%; padding: 12px 30px;  }

#tribe-bar-views{ 
	position: absolute; right: 0; padding: 10px 20px; height: 70px; color: #999;;
	select{ display: none; width: 100%; padding: 5px 10px; margin-top: 5px; background: lighten(#747373, 20); color: #333; }
	li{ 
		a{ padding: 2px 10px;  }
		text-align: center; margin: 5px 0;  color: $txt-gris; text-transform: none; 
	}
	.tribe-bar-active{ display: none;  }
}


.tribe-events-page-title{
	color: #333; 
}

.tribe-events-list-event-title{
	text-align: left;
	a{ color: $txt-gris; }

}


.tribe-events-metas{
	float: left; text-align: center; background: $txt-gris; color: #FFF; padding: 4px 8px 0px 8px; text-transform: uppercase; 
	em{ font-size: 2em; display:block; }
}

.tribe-list-content{
	float: left; padding: 0 20px; width: 92%;
	h2{ 
		a{ color: $txt-gris; }
		margin-bottom: 0; }
	hr{ background: $color-green; }
}

.tribe-events-loop .type-tribe_events{ 

	margin: 30px 9%;	clear: both;  border-bottom: 1px #EFEFEF solid; padding: 18px 0 10px;  
	hr{ margin: 0 0 10px; }
	.metas{ 
		font-size: 1em; 
		em{ font-style: italic; padding-left: 20px; }
	}
	p{ margin: 18px 0; font-size: 0.95em; line-height: 1.6em;}
}

.tribe-events-loop{

	&>hr{ width: 33%; display: inline-block; float: left; background: $bg-gris-clair; height: 2px;}
	.tribe-events-list-separator-month{ width: 33%; float: left; font-size: 2em; text-transform: uppercase; text-align: center; display: block; padding-bottom: 20px; padding: 0 20px 50px 20px; color: $txt-gris; }

}


#tribe-events-content .tribe-events-calendar{
	background: #FAFAFA; 
	thead{color: $txt-blc; background: $bg-gris; padding: 20px 0; border: 1px solid $bg-gris; }
	th{ padding: 6px 0; }
	td{ border: 1px solid #D8D8D8; }
	.tribe-events-present div:first-child{ background: #66A29C; }
	h3{
	padding: 2px 10px; 
	 a{ color: #66A29C; text-transform: none; font-size: 1em; }
	}
}

.tribe-events-sub-nav{
	color: $color-green; 
}

.tribe-events-thismonth{
	div:first-child{
		background: #D8D8D8; color: #FFF;
		a{ color: #FFF; }
	}
}

.tribe-events-sub-nav a{ color: #66A29C; }

.tribe-events-read-more{ 
	color: $bg-gris-clair; margin: 18px 0; 
	&:hover{ color: $color-green; }
}



/*****************/
/**  Actualité  **/
/*****************/


#sidebar-actus{ float: right; margin: 10px 0;}

.filtre{ opacity: 0.5; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; }

.filtre-activite{ background: $color-violet;}

.item-activite{margin: 50px 0; background: green; padding: 20px 0; }



/************/
/**  Home  **/
/************/


/**  Slider  **/


#slider{ 

	background: #66A29C; position: relative; 

	*{color: $txt-blc;}

	.slide{ 
		position: absolute; top: 0; width: 100%;  z-index: 0; display: block;  color: #FFF; overflow: hidden; background: #333; @include transition(1s); 
		h3{ text-transform: uppercase; color: #f5f1ff; margin: 20px 0; font-weight: bold; line-height: 1em; }
		.label, .description{display: inline-block; padding: 5px 10px 2px; clear: both; font-size: 1em; }
		.label{background: #000; text-transform: uppercase;  }
		p:last-of-type{background: #333; background: rgba(0, 0, 0, 0.4); float: left;  font-size: 1.1em;  padding: 5px 10px 2px; font-weight: lighter; clear: both; }
		hr{ background: $bg-noir; float: left; height: 6px; margin: 0 0 10px 0;  }
		.filtre{background: #00ADFF; opacity: 0.7; width: 100%; height: 500px; position: absolute; top: 0; left: 0; z-index: -1; }
		img{position: absolute; top: 0; left: 0; width: 100%; z-index: -2; }
		&:nth-of-type(1){ margin: 0; }
		.txt{}
	}

	.off{ opacity: 0;}

	.on{ opacity: 1;  }

	nav{
		width: 100%; height: 500px; position: absolute; top: 0; z-index: 999; 
		.prev, .next,{display: block; width: 30px; height: 30px; background: $color-red; margin: 260px 30px 0; }
		.prev{ float: left; background: url('../img/interface/slider_l.png') no-repeat center; }
		.next{ float: right; background: url('../img/interface/slider_r.png') no-repeat center; }
		ul{display:block; margin: auto; clear: both; width: 80px; margin-top: 460px;  }
		li{
			display: block; float: left; height: 10px; width: 10px; background: #FFF; opacity: 0.5; border-radius: 20px; margin: 0 5px; 
			
		}
		.on{ opacity: 1; }
	}


}


/**  Welcome  **/


#welcome{
	padding: 50px 4.7%; background: #FFF; float: left;
	h1{font-weight: bold; margin-bottom: 34px; font-size: 2.5em; }
	em{color: red; }
	p{ margin: 20px 0;}
	strong{font-weight: bold;}
}



/**  Next events  **/


#next-events{
	background: #333; float: right; color: $txt-blc; position: relative; padding-bottom: 100px;
	.widgettitle{display:none;}
	.titlebar{background: $bg-gris; height: 60px; }
	h2{font-size: 1.3em; width: 70%;}
	.prevevent, .nextevent, h2{display: block; float: left; background: darken(#333, 5); padding: 24px; margin-top: 0; text-align: left; height: 100%;}
	.prevevent{
		background: url('../img/interface/prev.png') no-repeat center; width: 15%; cursor: pointer;
		&:hover{background: url('../img/interface/prev.png') no-repeat center, #333;}
	}

	.nextevent{
		background: url('../img/interface/next.png') no-repeat center; width: 15%; cursor: pointer;
		&:hover{background: url('../img/interface/next.png') no-repeat center, #333;}
	}
	ol li{ padding: 10px 30px; }
	.tribe-events-widget-link{
		position: absolute; bottom: 0; width: 100%;
		a{ background: darken(#333, 5); font-size: 0.9em; text-align: center; display: block; width: 100%; padding: 12px 30px; text-transform: uppercase; margin-top: 30px;  }
	}
	.about{float: left; width: 80%; margin-left: 20px; }
	.duration{
		width: 30px; text-transform: uppercase; font-size: 1.4em; float: left; text-align: center; 
		em{font-size: 0.7em; display:block; text-align: center;}
	}
	h4{display: block; clear: none;  font-size: 1.3em;  }
	hr{background: $color-green; margin-bottom: 8px;  }
	p{clear: both; display: block; color: $txt-gris; font-weight: lighter; }

	li li{display: none; }

}


/**  Nos activités  **/


	.activites-intro{ 
		padding: 60px 4.7%; 
		h4{text-transform: uppercase; font-size: 1.2em; }
		p{ float: left; margin-bottom: 20px; }
		.more{ text-transform: uppercase; color: #333; display: block; clear: both; }
		.more:hover{ color: $color-violet; }

	}

	.activite{
		width: 50%; height: 50%; float: left; position: relative; z-index: 0;
		a{ 
			opacity: 0.8; padding: 5px 10px 0; font-size: 0.95em; font-weight: 600; line-height: 1.2em; background: $color-violet; display: inline-block; position: absolute; bottom: 20%; left: 20%; @include transition(0.2s); text-transform: uppercase; text-align: center; 
			&:hover{ opacity: 1; }		
		}
		img{ @include absolute(); z-index: -2; @include filter(90%, 0); }
	}

	.sport a { background: $color-green; }
	.art a { background: $color-violet; }
	.culture a { background: $color-red;}

	hr{ background: #000; float: left; margin-bottom: 20px; }



/**  Actualités  **/


.bloc{ float: left; }

.actualite{
	position: relative; z-index: 0; overflow: hidden; 
	span{background: $bg-noir; margin: 10% 14.5%; display: inline-block; margin-bottom: 25px; text-transform: uppercase; color: $txt-blc; padding: 3px 10px 0; }
	date{color: $txt-blc; display: block; text-shadow: 1px 1px 4px #252525;}
	h4{  width: 100%; color: $txt-blc; display: inline-block; line-height: 1em; margin: 10px 0; font-weight: 400; text-shadow: 1px 1px 4px #252525;}

	.filtre{ @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 44%,rgba(0,0,0,0.65) 97%,rgba(0,0,0,0.65) 100%)); opacity: 1; }
	&:hover .filtre{ background: #000; opacity: 0.7; @include transition(0.3s); }

	img{ @include absolute(); width: 100%; z-index: -2;}
	p{ margin: 10px 0 20px; color: $txt-blc; text-shadow: 1px 1px 4px #252525;}
	.more{ background: $color-green; color: $txt-blc; padding: 5px 10px 2px;  text-transform: uppercase; display: inline-block; }


	.perm-content{  @include transition(0.3s); position: absolute; bottom: 0; left: 0; padding: 14.5%; }
	.hover-content{ @include transition(0.3s); position: absolute; bottom: -300px; left: 0; width: 100%; padding: 20% 14.5% 14.5%;   }
	.show{ bottom: 0;  }

}


/**  Social  **/


.social{
	background: #efefef; 
	form, p{padding: 0 30px; }
	h2{background: darken(#EFEFEF, 5); text-align: left; color: $txt-noir; margin-top: 0; font-size: 1.2em; font-weight: bold; }
	p{ font-size: 0.9em; }
	input[type="text"]{border: darken(#EFEFEF, 5) 1px solid; width: 70%; float: left; font-size: 0.6em; }
	input[type="submit"]{background: $color-green; width: 30%; color: $txt-blc; text-transform: uppercase; text-align: center; float: right; font-size: 0.6em;}
}




/******************/
/**  Actualités  **/
/******************/



#archive-actus{
	float: left; 
	.actu{ 
		width: 100%; margin-bottom: 30px; 
		img{margin: 10px 30px 10px 0; min-width: 100%; } //enlever min width
		date{text-transform: uppercase; color: $txt-gris; font-weight: lighter; font-size: 0.9em; }
		h2{
			font-size: 2em; text-align: left; text-transform: none; margin: 10px 0; 
			a{ color: $txt-gris-fonce; }
		}
		p{color: $txt-gris;  }
		hr{ height: 1px; background: $color-gris-clair; width: 200px; margin-top: 40px;  }
	}

}

#sidebar-actus, #sidebar-event{
 float: right; background: darken(#EFEFEF, 5);  color: #565555; padding: 0 25px 50px; ;
	.titlebar{
		height: 60px; margin-bottom: 40px;
		hr{background: #565555; }
	}
	h2{font-size: 1.2em; padding: 30px 0 10px; text-align: left; margin: 0; }
	a{color: #565555; }
	ol li{ padding: 10px 0; }
	.about{float: left; width: 79%; margin-left: 20px; font-size: 0.9em }
	.duration{
		width: 30px; text-transform: uppercase; font-size: 1.4em; float: left; text-align: center;
		em{font-size: 0.7em; display:block; text-align: center;}
	}
	.bloc{ border-bottom: 1px solid $color-gris-clair; width: 100%; }
	.widgettitle{display: none; }
	h4{display: block; clear: none;  font-size: 1.2em;  }
	hr{background: $color-green; margin-bottom: 8px; margin: 0 0 20px; }
	p{clear: both; display: block; color: $txt-gris; font-weight: lighter; }

	.social{ 
		width: 100%; padding: 0; border-top: 1px solid $color-gris-clair; 
		h2{ background: none; margin: 0; padding: 30px 0 10px; color: $txt-gris-fonce; font-weight: normal;  }
		hr{background: $bg-gris;  }
		p, form{ padding: 0; }
		.facebook-a{background: url('../img/interface/facebook.png') no-repeat top center; }
		.facebook-b{background: url('../img/interface/facebook.png') no-repeat top center;}
		.flickr{background: url('../img/interface/flickr.png') no-repeat top center; }
		.youtube{background: url('../img/interface/youtube.png') no-repeat top center; }
	}

	.btn-social{ 
		padding: 0; min-height: 100px; 
		a{ margin-right: 5px; }
	}
 
}



#filtres{
	float: left; background: $bg-gris; text-transform: uppercase; 
	.cat{ background: darken($bg-gris, 10); padding: 14px 20px; display: block; color: #ADADAD; border-bottom: 1px solid #333; }
	span{background: darken($bg-gris, 30); display: inline-block; padding: 2px 8px; margin-left: 10px; font-size: 0.8em; }
	li{}
	.hello ul{display: block; @include transition(0.5s); }
	ul>li{background: $bg-gris; }
	ul > li li{ 
		font-size: 0.8em; background: url('../img/interface/more.png') no-repeat 90% center;
		a{ padding: 5px 30px; display: block; color: #ADADAD; }
		a:hover{ background: darken($bg-gris, 5); opacity: 0.5; }
	}
}



/***********************/
/**  Infos pratiques  **/
/***********************/


#infos-pratiques{

	width: 100%; height: 800px; position: relative; 

	.content{
		z-index: 99; padding: 30px; background: #FFF; 
		h1{}

		.info{ 
			margin: 10px 0; padding: 0 30px; margin-bottom: 30px; float: left; 
			h2{text-align: left; margin: 2px 0; font-size: 1em;}
			hr{background: red; margin-bottom: 12px; }
			p{clear: both; }
		}
	}
}


/**************/
/**  Footer  **/
/**************/

footer{
	background: #333;  padding: 60px 0; position: relative; font-family: $sans-serif; 
	.infos-mobile{ color: $txt-gris; padding: 0 3.3%; font-size: 0.9em;}
	.wpcf7{
		p{ color: $txt-blc; min-height: 25px; clear: both; }
		.label{background: $bg-noir-fonce; float: right; display: inline-block; padding: 5px 14px 3px; font-size: 0.9em; }
	}
	h4{color: $txt-blc; font-size: 1em; margin: 20px 0;   }
	.infos{ 
		vertical-align: top; 
		img{float: left; padding: 50px 40px 200px 0; position: absolute;  top: 0; left: 8%;}
		.info{ 
			width: 50%; float: left; margin-bottom: 30px; position: relative; padding-right: 15px; 
			img{float: left; position: relative; padding: 0; margin: 2px; left: 0;}
			&:nth-child(3){clear: both;}
		}
	}


	.btn-social{
		padding: 0; 
		a{margin-right: 10px; float: left;  height: 70px; padding-top: 50px; vertical-align: bottom;  color: $txt-gris; }
		.facebook-a{background: url('../img/interface/facebook-blc.png') no-repeat center}
		.facebook-b{background: url('../img/interface/facebook-blc.png') no-repeat center;}
		.flickr{background: url('../img/interface/flickr-blc.png') no-repeat center; }
		.youtube{background: url('../img/interface/youtube-blc.png') no-repeat center;}

	}

	.menu-menu-footer-container{
		width: 100%; position: relative; top: 0; left: 0;
		li{
			float: left; width: 100%; 
			a{color: #8A8A8A;}
		}

	}

	.under-footer{width: 100%; color: #333; padding: 10px 0; text-align: center; background: #202020; position: absolute; bottom: 0; left: 0;  }

	adress{color: darken(#FFF, 50); display: block;}
	
}




/*************/
/**  Fonts  **/
/*************/


@font-face {
	font-family: avant-garde;
	font-weight: normal;
	src: url('../font/ITCAvantGardeStd-BkCn.eot?') format('eot'), 
	     url('../font/ITCAvantGardeStd-BkCn.otf')  format('opentype'),
	     url('../font/ITCAvantGardeStd-BkCn.woff') format('woff'), 
	     url('../font/ITCAvantGardeStd-BkCn.ttf')  format('truetype'),
	     url('../font/ITCAvantGardeStd-BkCn.svg#ITCAvantGardeStd-BkCn') format('svg');
}


@font-face {
	font-family: 'avant-garde';
	font-weight: 400;
	src: url('../font/ITCAvantGardeStd-MdCn.eot?') format('eot'), 
	     url('../font/ITCAvantGardeStd-MdCn.otf')  format('opentype'),
	     url('../font/ITCAvantGardeStd-MdCn.woff') format('woff'), 
	     url('../font/ITCAvantGardeStd-MdCn.ttf')  format('truetype'),
	     url('../font/ITCAvantGardeStd-MdCn.svg#ITCAvantGardeStd-MdCn') format('svg');
}

@font-face {
	font-family: 'avant-garde';
	font-weight: 600;
	src: url('../font/ITCAvantGardeStd-DemiCn.eot?') format('eot'), 
	     url('../font/ITCAvantGardeStd-DemiCn.otf')  format('opentype'),
	     url('../font/ITCAvantGardeStd-DemiCn.woff') format('woff'), 
	     url('../font/ITCAvantGardeStd-DemiCn.ttf')  format('truetype'),
	     url('../font/ITCAvantGardeStd-DemiCn.svg#ITCAvantGardeStd-DemiCn') format('svg');
}



@font-face {
	font-family: 'ITCAvantGardeStd-BoldCn';
	font-weight: 800;
	src: url('../font/ITCAvantGardeStd-BoldCn.eot?') format('eot'), 
	     url('../font/ITCAvantGardeStd-BoldCn.otf')  format('opentype'),
	     url('../font/ITCAvantGardeStd-BoldCn.woff') format('woff'), 
	     url('../font/ITCAvantGardeStd-BoldCn.ttf')  format('truetype'),
	     url('../font/ITCAvantGardeStd-BoldCn.svg#ITCAvantGardeStd-BoldCn') format('svg');
}





